{% load staticfiles %}
<!DOCTYPE html>
<html>

<head lang="es">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-STORE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-STORE">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="META DESCRIPCION.">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no"/>

    {% include 'base/favicons.html' %}

    <title>{% block title %}{% endblock %} | Renka</title>

    <!-- <script src="{% static 'base/js/jquery-2.1.1.js' %}"></script> -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static 'proyectos/js/icheck.min.js' %}"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700'
          rel='stylesheet' type='text/css'>
    <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <link href="{% static 'base/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/renka-design.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/base.css' %}" rel="stylesheet">

    {% block styles %}

    {% endblock %}

    <meta property="fb:app_id" content="793051900816959"/>
</head>
<body class="pace-done fixed-nav fixed-sidebar">
<div id="fb-root"></div>

<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3&appId=793051900816959";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side shadow" role="navigation">

        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    {% if user.is_authenticated %}
                        <div class="dropdown profile-element pointer text-center">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                                <img alt="image" class="img-circle center-block m-b-xs" src="{{ user.get_image }}"
                                     style="height: 48px; width: 48px; border: 3px solid #FFFFFF;"/>
                                <span class="text-muted font-bold m-t-sm">{{ user.get_short_name }}</span>
                            </a>

                            {% comment %}
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'socios_app:perfil' %}">Mi Cuenta</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'usuarios_app:editar_perfil' %}">Editar Perfil</a></li>
                                <li><a href="{% url 'usuarios_app:logout' %}"><i class="fa fa-sign-out"></i> Cerrar sesión </a></li>
                            </ul>
                            {% endcomment %}
                        </div>
                    {% endif %}
                    <div class="logo-element">
                        <a href="{% url 'home_app:home' %}">
                            <img src="#" alt="  _LOGO_" style="width: 50%;"/>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-usd"></i> <span class="nav-label">Mis __algo__</span></a>
                    <ul class="nav nav-second-level collapse in">
                        <li><a href="#">algo mas</a></li>
                    </ul>
                </li>

                {% if user.is_nutriologo %}
                    <hr>
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> <span
                                class="nav-label">Mis Pacientes</span> </a>
                        <ul class="nav nav-second-level collapse in">
                            <li><a href="#">Ver citas</a></li>
                        </ul>
                    </li>
                {% endif %}
                <hr>
                <li>
                    <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Mi cuenta</span></a>
                    <ul class="nav nav-second-level collapse in">
                        <li><a href="#">Editar Perfil</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary visible-xs" href="#"><i
                            class="fa fa-bars"></i>
                    </a>
                    <a href="#" class="navbar-brand p-m hidden-xs">
                        <img src="__LOGO_" alt=""/>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    {% if user.is_authenticated %}

                        {% include 'base/base_notif.html' %}

                        <li data-toggle="dropdown" id="menu-profile" class="dropdown-toggle"
                            aria-expanded="true">
                            <a href="#">{{ user.get_short_name }}</a>
                        </li>
                        <li data-toggle="dropdown" id="menu-profile" class="dropdown-toggle"
                            aria-expanded="true">
                            {% if user.get_image != "" %}
                                <div class="avatar img-circle img-user">
                                    <style>
                                        .img-user {
                                            cursor: pointer;
                                            position: relative;
                                            top: 10px;
                                            background-image: url({{ user.get_image }});
                                            width: 30px !important;
                                            margin-right: 5px;
                                            padding-bottom: 30px;
                                        }
                                    </style>
                                </div>
                            {% else %}
                                <img alt="image" class="img-circle"
                                     src="{% static 'base/img/avatar.jpg' %}"/>
                            {% endif %}
                        </li>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu-profile">
                            <li><a href="#">OTRA_COSA_</a></li>
                            {% if user.is_nutriologo %}
                                <li><a href="#">Mis algo__</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="#">Mi cuenta</a></li>
                            <li><a href="{% url 'usuarios_app:logout' %}"><i class="fa fa-sign-out"></i> Cerrar
                                sesión </a></li>
                        </ul>
                    {% else %}
                        <li>
                            <a href="{% url 'usuarios_app:login' %}">
                                <i class="fa fa-user"></i> Comienza ahora
                            </a>
                        </li>
                    {% endif %}
                    <li class="hidden-sm">
                        <a href="#">
                            <i class="fa fa-question-circle"></i>FAQ
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="wrapper wrapper-content">
            <div class="container-fluid">
                {% block content %}

                {% endblock %}
            </div>
        </div>

        <div class="content-dark footer-home" style="
                                                    width: 100vw;
                                                    margin-left: -15px;
                                                    margin-right: 71px;
                                                ">
            <div class="container-fluid">
                <div class="row m-t-xl">
                    <div class="hidden col-xs-12 col-md-2 m-t-lg m-b-lg">
                        <img src="{% static 'base/img/logo-renka-white.png' %}" alt="logo" style="width: 75px;">
                        <span>©</span>
                    </div>
                    <div class="col-xs-6 col-md-2 m-t-lg m-b-lg">
                        <h5>TITULO_</h5>
                        <ul>
                            <li><a class="text-white" href="#">ALGO</a>
                            </li>
                            <li><a class="text-white" href="#" data-toggle="modal" data-target="#modal_crear_proyecto">ALGO_2</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-3 m-t-lg m-b-lg">
                        <h5>SOPORTE</h5>
                        <ul>
                            <li><a class="text-white" href="#">Preguntas frecuentes (FAQ)</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-3 m-t-lg m-b-lg">
                        <h5>LEGAL</h5>
                        <ul>
                            <li><a class="text-white" href="#">Términos y
                                Condiciones</a></li>
                            <li><a class="text-white" href="#">Aviso de
                                privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-2 m-t-lg m-b-lg">
                        <h5>CONTACTO</h5>
                        <ul>
                            <li>
                                <a target="_blank" class="text-white"
                                   href="{% url 'home_app:equipo' %}">Equipo</a>
                            </li>
                            <li>
                                <a target="_blank" class="text-white text-facebook"
                                   href="#"><i
                                        class="fa fa-facebook-official fa-2x"></i></a>
                                <a target="_blank" class="text-white text-twitter m-l-sm"
                                   href="#"><i
                                        class="fa fa-twitter fa-2x"></i></a>
                            </li>
                            <li><i class="fb-like text-white" data-href="#"
                                   data-width="47" style="overflow: hidden"></i></li>
                            <style scoped>
                                #u_0_2 {
                                    color: #FAFAFA !important;
                                }
                            </style>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Mainly scripts -->
<script src="{% static 'base/js/bootstrap.min.js' %}"></script>
<script src="{% static 'base/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'base/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{% static 'base/js/plugins/chartJs/Chart.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'base/js/inspinia.js' %}"></script>
<script src="{% static 'base/js/plugins/pace/pace.min.js' %}"></script>

<!-- Flot -->
<script src="{% static 'base/js/plugins/flot/jquery.flot.js' %}"></script>
<script src="{% static 'base/js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'base/js/plugins/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'base/js/plugins/flot/jquery.flot.time.js' %}"></script>

<script src="{% static 'base/js/plugins/jquery.number.min.js' %}"></script>
<script src="{% static 'base/js/plugins/jquery.numeric.min.js' %}"></script>
<script src="{% static 'base/js/plugins/jquery.mask.min.js' %}"></script>

<script>
    $.jMaskGlobals = {
        translation: {
            'L': {pattern: /[a-zA-Z ]+/, recursive: true},
            '0': {pattern: /\d/},
            '9': {pattern: /\d/, optional: true},
            '#': {pattern: /\d/, recursive: true},
            'A': {pattern: /[a-zA-Z0-9]/},
            'S': {pattern: /[a-zA-Z]/}
        }
    };

    function mostrar_error(mensaje) {
        $('#modal_error').modal('show');
        $("#mensaje_error_modal").html(mensaje);
    }
    function mostrar_error_2(mensaje) {
        $('#modal_error_2').modal('show');
        $("#mensaje_error_modal").html(mensaje);
    }

    $('.icon-buscar').click(function () {
        $('form.navbar-form').submit();
    });

</script>

<!-- iCheck -->
<script src="{% static 'proyectos/js/icheck.min.js' %}"></script>

<script>

    $(document).ready(function () {
        // $('input[name="cantidad_*"]').val(1);
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
    $(document).ready(function () {
    });

</script>
{% block scripts %}

{% endblock %}


</body>
</html>