{% load staticfiles %}
<link rel="shortcut icon" href="{% static 'base/img/favicon/128x128.ico' %}" type="image/x-icon" />

<link rel="apple-touch-icon" sizes="57x57" href="{% static 'base/img/favicon/57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'base/img/favicon/60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'base/img/favicon/72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'base/img/favicon/76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'base/img/favicon/114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'base/img/favicon/120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'base/img/favicon/144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'base/img/favicon/152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/img/favicon/180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'base/img/favicon/192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/img/favicon/32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'base/img/favicon/96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/img/favicon/16x16.png' %}">
<meta name="msapplication-TileImage" content="{% static 'base/img/favicon/144x144.png' %}">

<link rel="manifest" href="{% static 'base/img/favicon/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">