{% extends 'usuarios/perfil_usuario_2.html' %}

{% load staticfiles %}
{% load humanize %}


{% block title %}
    {% if mi_perfil %}Mi perfil{% else %}{{ user.username }}{% endif %}
{% endblock %}


{% block styles %}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-4 p-md">
            <h2>
            {{ formulario_horarios.media }}

                Perfil
                <a class="btn btn-link btn-xs m-l-md" href="#" data-toggle="modal" data-target="#modal-perfil">
                    <i class="fa fa-pencil"></i>&nbsp;Editar datos
                </a>
            </h2>
            {% if user.is_superuser %}
                <p>NOTA* al ingresar a la direccion /admin  se entra a la URL para administradores de la pagina</hp>
            {% endif %}
            <p>Username : {{ usuario.username }}</p>
            <p>Email : {{ usuario.email }}</p>
            <p>Soy {{ usuario.tipo }}</p>
            {% if usuario.is_nutriologo  %}
                <h3>Soy Nutriologo :D </h3>
            {% endif %}

            <p>Usuario desde: {{ usuario.fecha_registro|date }}</p>
            <p>Fecha de nacimiento: {{ usuario.fecha_nacimiento|date }}</p>
            <p>Sexo: {{ usuario.sexo }}</p>
            <p>Codigo Postal : {{ usuario.codigo_postal}}</p>
            <p>Teléfono : {{ usuario.telefono }}</p>
            <p>Nombre : {{ usuario.nombre }}</p>
            <p>Apellidos : {{ usuario.apellidos }}</p>
            <img src="{{ usuario.avatar }}">

            {% if no_soy_nutriologo %}
                <p>¿Eres un nutriologo?</p>
                {# Boton para que el usuario pueda solicitar su cambio a nutriologo #}
                <div class="col-xs-4 col-md-2 col-md-offset-3">
                    <a class="btn-primary " href="{% url 'usuarios_app:actualizar_a_nutriologo' %}" value="Quiero ser nutriologo">Quiero ser nutriologo</a>
                </div>
            {% else %}
            {# Si el usuario no ha terminado sus horarios, se le pide que los termine de llenar #}
                {% if not usuario.termino_horarios %}
                    {#  #}
                    <div class="col-md-4 p-md">
                        <h3>Por favor llena tus horarios disponibles para que podamos agendar citas segun tu tiempo</h3>
                {% endif %}
                <form method="POST" action="{% url 'usuarios_app:actualizar_horarios_nutriologo' %}">
                    {% csrf_token %}
                    {% for field in formulario_horarios %}
                        <div class="form-group {% if field.errors %}has-error{% endif %} ">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="text-danger pull-right">
                                        {{ error|safe }}&nbsp;
                                        <i class="fa fa-exclamation-circle text-danger"></i>
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
            {% endif %}
            {# veremos si tiene itas pendientes, o ya echas del usuario y las mostraremos #}
                {% if citas_pendientes %}
                    <div class="row">
                        <div class="col-sm-7">
                            <h2>Tus citas pendientes.</h2>
                            {% for cita in citas_pendientes %}
                                <p>{{ cita }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if citas_pasadas %}
                    <div class="row">
                        <div class="col-sm-7">
                            <h2>Tus Historial de citas.</h2>
                            {% for cita in citas_pendientes %}
                                <p>{{ cita }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

        </div>

        {# comment #}
{% endblock %}


{% block scripts %}
    {# Se especifican aqui los scripts #}


{% endblock %}



