{% extends 'base/base.html' %}
{% load staticfiles %}
{% load humanize %}


{% block title %}
    {% if mi_perfil %}Mi perfil{% else %}{{ user.username }}{% endif %}
{% endblock %}


{% block styles %}

    <link rel="stylesheet" href="{% static 'proyectos/css/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/css/chosen/chosen.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/css/nouslider/jquery.nouislider.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/css/datapicker/datepicker3.css' %}"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"/>
    <link rel="stylesheet" href="{% static 'socios/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'proyectos/css/busqueda.css' %}"/>

    <script src="{% static 'base/js/plugins/rickshaw/vendor/d3.v3.js' %}"></script>
    <script src="{% static 'base/js/plugins/rickshaw/rickshaw.min.js' %}"></script>

    <style>
        .bootstrap-tagsinput {
            width: 100%;
        }

        path.domain {
            display: none;
        }

        h5 {
            margin-top: 20px;
        }

        .filtros-bar {
            min-width: 300px;
            padding: 15px;
            width: 300px;
            position: absolute;
            top: 40px;
            left: -60px;
        }

        .filtros-bar.no-left {
            left: 0;
        }

        .chosen-container {
            width: 270px !important;
        }

        .titulo {
            padding-top: 15px !important;
        }

        .social-btn {
            margin-left: 15px;
            display: inline-block;
            font-size: 1.4em;
            float: right;
        }

        .fb-btn, .fb-btn * {
            color: #3b5998;
        }

        .twt-btn, .twt-btn * {
            color: #55acee;
        }

        .li-btn, .li-btn * {
            color: #287bbc;
        }

        .social-btn i {
            font-size: 1.6em;
        }

    </style>


    <script>window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };
        return t;
    }(document, "script", "twitter-wjs"));</script>

{% endblock %}


{% block content %}

    <div class="row m-b-xl">
        <!-- Etiqueta y botones de saldo -->
        <div class="col-md-4">

            <div class="widget lazur-bg">
                <h3>
                    texto texto
                </h3>

                <h2 class="saldo">${{ saldo|floatformat:'2'|intcomma }}</h2>
            </div>

        </div>
        <!-- Gráfica de las ganancias del mes -->
        {% if proyectos_intentados and proyectos_exitosos and proyectos_campana and proyectos_retribucion %}
            <div class="col-md-7 col-md-offset-1">
                <h3>Ganancias en el mes</h3>

                <div class="white-bg text-center h-200 p-md">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="chart_intereses"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% if not citas or not pacientes %}
        <div class="text-left">
            <h2>
                Aún no tienes citas con algun nutriologo o algun paciente por atender 😞
                <br/>
                <small>Busca algun nutriologo para comenzar a mejorar tu vida.</small>
            </h2>
        </div>
    {% endif %}

    {% if proyectos_recomendados %}
        <div class="row">
            <div class="col-xs-12">
                <h1>Proyectos que podrían interesarte</h1>
            </div>
            {% for proyecto in proyectos_recomendados %}
                <div id="proyecto{{ forloop.counter }}" class="col-sm-6 col-lg-4">
                    <div class="white-bg m-b-sm proyecto-div">
                        <a href="#">
                            <div class="img-proyecto img-bg">
                                <style>
                                    #proyecto{{ forloop.counter }} .img-proyecto {
                                        background-image: url('{{ proyecto.imagen_ico }}');
                                    }
                                </style>
                            </div>

                            <div class="empresario-proyecto">
                                <div class="img-empresario img-bg img-circle">
                                    <style>
                                        #proyecto{{ forloop.counter }} .img-empresario {
                                            background-image: url('{{ proyecto.img_empresario}}');
                                        }
                                    </style>
                                </div>
                                <div class="empresario-info">
                                    <p>{{ proyecto.empresario.get_full_name }}</p>
                                <span><i
                                        class="fa fa-map-marker text-renka"></i> {{ proyecto.ubicacion }}</span>
                                </div>
                            </div>

                            <div class="data-proyecto">
                                <h3 class="titulo">{{ proyecto.nombre|upper|slice:"60" }}</h3>

                                <h3 class="descr">
                                    <small>{{ proyecto.descripcion|slice:"140" }}</small>
                                </h3>

                                <div class="row datos text-center">
                                    <div class="col-xs-4">
                                        {% if proyecto.esDonacion %}
                                            <p class="num text-renka">
                                                <span><i class="fa fa-gift"></i></span>
                                                {{ proyecto.recompensas }}
                                            </p>
                                            <span class="text font-bold">Recompensas</span>
                                        {% else %}
                                            <p class="num text-renka">
                                                <span>%</span> {{ proyecto.intereses_max }}
                                            </p>
                                            <span class="text font-bold">Intereses</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-4">
                                        <p class="num text-renka"><span><i
                                                class="fa fa-users"></i></span> {{ proyecto.socio|length }}</p>
                                        <span class="text font-bold">Socios</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <p class="num text-renka"><span><i class="fa fa-clock-o"></i></span>
                                            {{ proyecto.dame_dias_restantes_termino_campana }}
                                        </p>
                                        <span class="text font-bold">Días más</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="progress-bar progress-bar-sm">
                                            <div class="bar">
                                                <style>
                                                    #proyecto{{ forloop.counter }} .progress-bar .bar {
                                                        width: {{ proyecto.porcentaje_llevado }}%;
                                                    }
                                                </style>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row bottom">
                                    <div class="col-xs-12">
                                        <p class="inline">Meta: <span
                                                class="text-renka">${{ proyecto.monto|floatformat:"2"|intcomma }}</span>
                                        </p>

                                        <div class="pull-right inline">
                                            <p>Llevamos:  <span
                                                    class="text-renka">{{ proyecto.porcentaje_faltante }}%</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


{% block scripts %}

    <script src="{% static 'base/js/plugins/sparkline/jquery.sparkline.min.js' %}"></script>

    <script src="{% static 'base/js/plugins/jsKnob/jquery.knob.js' %}"></script>


    <script src="{% static 'base/js/plugins/sociales/social-scripts.js' %}"></script>

    <script>
        $('.ordenar li').click(function () {
            $('#btn-ordenar').html($(this).html() + ' <span class="caret m-l-lg">')
        });
    </script>


    <script>

        $(function () {
            var barOptions = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.0
                            }, {
                                opacity: 0.0
                            }]
                        }
                    }
                },
                xaxis: {
                    mode: "time",
                    min: (new Date("{{ fin }}")).getTime(),
                    max: (new Date("{{ inicio }}")).getTime(),
                    tickSize: [1, "month"],
                    axisLabel: 'Meses',
                    label: "Meses",
                    monthNames: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dic"],
                    timeformat: "%b-%y"
                },
                yaxis: {
                    min: 0,
                    label: "Intereses",
                },

                colors: ["#009688"],
                grid: {
                    color: "#999999",
                    hoverable: true,
                    clickable: true,
                    tickColor: "#D4D4D4",
                    borderWidth: 0
                },
                legend: {
                    show: true,
                },
                tooltip: true,
                tooltipOpts: {
                    content: "Fecha: %x, cantidad intereses: %y"
                }
            };

            var barData = {
                label: "Intereses obtenidos",
                data: [
                    {% for x in inversiones %}
                        [(new Date("{{ x.fecha }}")).getTime(), {{ x.valor }}],
                    {% endfor %}
                ]
            };
            $.plot($("#chart_intereses"), [barData], barOptions);

        });


    </script>

    <script>

        function asignarOrden(campo, valor) {
            $(campo).val(valor.name);
            $("#forma").submit();
        }
    </script>

{% endblock %}
