{% extends 'base/base_no_sidebar.html' %}

{% load staticfiles %}
{% load humanize %}


{% block title %}
    {{ usuario.username }}
{% endblock %}


{% block styles %}
{% endblock %}


{% block content %}


    {# CASO BASICO, EN QUE ALGUIEN ANINIMO VISITA E PERFIL DE ALGUIEN   #}
    <div class="row">
        {% if anonimo %}
            <div class="col-lg-6 p-md">
                Username: {{ usuario.username }}
                Nombre : {{ usuario.nombre }}
                Apellidos : {{ usuario.apellidos }}
                <img src="{{ usuario.avatar }}">
                Email : {{ usuario.email }}
                {{ usuario.nivel }}
            </div>
    {# ALGUIEN LOGUEADO VISITA TU PERFIL #}
        {% else %}
            <div class="col-lg-6 p-md">

                <p>Username : {{ usuario.username }}</p>
                <p>Nombre : {{ usuario.nombre }}</p>
                <p>Apellidos : {{ usuario.apellidos }}</p>
                <img src="{{ usuario.avatar }}">
                <p>Email : {{ usuario.email }}</p>
                <p>Soy {{ usuario.tipo }}</p>
            </div>

            {% if usuario.is_nutriologo and no_soy_nutriologo %}
                <div class="col-lg-6 p-md">
                    <h3>Es un nutriologo :D </h3>
                    <form action="{% url 'nutriologo_app:agendar_cita' %}" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="id_nutriologo" value="{{ usuario.id }}">
                        <input type="submit" value="Quiero una cita" name="btn_cita_form">
                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div>
        {# comment #}
{% endblock %}


{% block scripts %}
    {# Se especifican aqui los scripts #}
{% endblock %}



